[build-system]
requires = [
    "setuptools>=63.4",
    "setuptools_scm>=7.0.5",
]
build-backend = 'setuptools.build_meta'

[tool.black]
line-length = 120

[tool.isort]
line_length = 120
profile = "black"
known_first_party = ["filelock", "tests"]

[tool.setuptools_scm]
write_to = "src/filelock/version.py"
