name: check
on:
  workflow_dispatch:
  push:
    branches: ["main"]
    tags-ignore: ["**"]
  pull_request:
  schedule:
    - cron: "0 8 * * *"

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: test ${{ matrix.py }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        py:
          - "pypy3.10" # ahead to start it earlier because takes longer
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Add .local/bin to Windows PATH
        if: runner.os == 'Windows'
        shell: bash
        run: echo "$USERPROFILE/.local/bin" >> $GITHUB_PATH
      - name: Install tox
        run: uv tool install --python-preference only-managed --python 3.13 tox --with tox-uv
      - name: Install Python
        run: uv python install --python-preference only-managed ${{ matrix.py }}
      - name: Setup test suite
        run: tox run -vv --notest --skip-missing-interpreters false -e ${{ matrix.py }}
      - name: Run test suite
        if: ${{ !startsWith(matrix.py, 'pypy')}}
        run: tox run --skip-pkg-install -e ${{ matrix.py }}
        env:
          PYTEST_ADDOPTS: "-vv --durations=20"
          DIFF_AGAINST: HEAD
      - name: Run test suite without coverage
        if: ${{ startsWith(matrix.py, 'pypy')}}
        run: tox run --skip-pkg-install -e ${{ matrix.py }} --
        env:
          PYTEST_ADDOPTS: "-vv --durations=20"
      - name: Rename coverage report file
        if: ${{ !startsWith(matrix.py, 'pypy')}}
        run: |
          import os; import sys
          os.rename(f".tox/.coverage.${{ matrix.py }}", f".tox/.coverage.${{ matrix.py }}-{sys.platform}")
        shell: python
      - name: Upload coverage data
        if: ${{ !startsWith(matrix.py, 'pypy')}}
        uses: actions/upload-artifact@v4
        with:
          include-hidden-files: true
          name: .coverage.${{ matrix.os }}.${{ matrix.py }}
          path: ".tox/.coverage.*"
          retention-days: 3

  coverage:
    name: Combine coverage
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Add .local/bin to Windows PATH
        if: runner.os == 'Windows'
        shell: bash
        run: echo "$USERPROFILE/.local/bin" >> $GITHUB_PATH
      - name: Install hatch
        run: uv tool install --python-preference only-managed --python 3.13 tox --with tox-uv
      - name: Build package to generate version
        run: uv build --python 3.13 --python-preference only-managed --wheel . --out-dir dist
      - name: Setup coverage tool
        run: tox -e coverage --notest
      - name: Download coverage data
        uses: actions/download-artifact@v4
        with:
          path: .tox
          pattern: .coverage.*
          merge-multiple: true
      - name: Combine and report coverage
        run: tox -e coverage --skip-pkg-install
      - name: Upload HTML report
        uses: actions/upload-artifact@v4
        with:
          name: html-report
          path: .tox/htmlcov

  check:
    name: ${{ matrix.tox_env }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        tox_env:
          - dev
          - type
          - docs
          - readme
        exclude:
          - { os: windows-latest, tox_env: readme }
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Add .local/bin to Windows PATH
        if: runner.os == 'Windows'
        shell: bash
        run: echo "$USERPROFILE/.local/bin" >> $GITHUB_PATH
      - name: Install tox
        run: uv tool install --python-preference only-managed --python 3.13 tox --with tox-uv
      - name: Setup test suite
        run: tox run -vv --notest --skip-missing-interpreters false -e ${{ matrix.tox_env }}
      - name: Run test suite
        run: tox run --skip-pkg-install -e ${{ matrix.tox_env }}
